
<ng-container *ngIf="todoObj.length > 0; else notodo">
    <ul class="list-group">
        <li *ngFor="let todo of todoObj, trackBy: trackById" class="list-group-item d-flex justify-content-between align-items-center">
            <strong>{{todo.todoItem}}</strong>

            <div>
                <button class="mr-2" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </li>
    </ul>
</ng-container>

<ng-template #notodo>
    <p class="bg-warning p-2 border-radius rounded">No Todo's !!!</p>
</ng-template>